.nav-enlace{
    display: inline-block;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-around; 
}

.nav-button{
    background-color:#343a40;
    color: #fff;
    padding: 10px 0px;
    border: 2px solid #343a40;
    display: none;
}

@media (max-width: 600px) {
    
    nav{
        flex-direction: column;
    }
    
    .nav-enlace{
        margin: 10px 0;
    }
    
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
    .nav-button{
        display: inline-block;
    }
    .ocult{
        display: none;
    }
}